@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');:root {
--base-color: whitesmoke;
--coral:coral;
--pink: pink;
--grey-60: rgba(180, 180, 180, 0.6);
font-size: 16px;
font-family: 'EB Garamond', serif;
color: darkgray;

--container-color:black;
--dkblue:#00008B;
--yellow:gold ;
--orange:#FFA500;
--coral:#FA8072;
--ltblue:#B0E0E6;
--blue:#87CEEB;

}


body {
    background: var(--base-color);
    width: 1200px;
    display:flex;
    flex-direction:column;
}

/* HEADER */


header{
    background-image: url("./images/header_cropped.jpg");
    background-size: cover;
    background-position: center;
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

#header-logo {
    width: 3.5rem; 
}

.header-top {
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-gap:0.4rem;
    padding: 1rem 2rem 4rem 2rem;
    margin-bottom: 4rem;
}

.header-top div {
    
    padding: 10px; 
    margin: 10px;
    
}

ul {
    display: flex; 
    flex-direction: row;
    align-items: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

navbar ul li {
    padding: 1rem;
    margin: 1rem;
}

i {
    padding-right: 0.5rem;
}

.social-media {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}

.social-media i {
   margin-bottom: 1rem;
   margin-right: 0.5rem;
}

.header-bottom  {
    background: var(--grey-60);
    margin: auto 6rem;
    
}

.header-bottom h1 {
   color: var(--coral);
   opacity: 0.8;
   margin: 1.2rem auto 6rem auto;
   text-align: center;
}

header li:hover{
    color: var(--coral);
}


/* MAIN */

main {
    display: flex;
    flex-direction: row;
    align-items:stretch;
    padding:0.8rem;
    margin:0.8rem;
    
}

.main-left {
   
    padding: 10px; 
    margin:10px;
    width: 50%;
    display: flex; 
    flex-direction: column;
}



article {
   display: flex;
   flex-direction:row;
   justify-content: flex-start;
   flex-wrap:wrap;
}

.article-image img {
 
  display:block;
  height:auto;
  transform:translate(-50%,-50%);
  width:auto;
  min-width:100%;
}

article div {
    background-color:red;
    width: calc(50% - 40px); 
    display: flex;
    flex-direction: column;
}

.main-left div {
    background: var(--blue);
    padding: 10px; 
    margin:10px;
}

.main-right {
    background: var(--coral);
    padding: 10px; 
    margin:10px;
    width: 50%;

}

.main-right div {
    background: var(--yellow);
    padding: 10px; 
    margin: 10px;

}




footer {
    background: var(--container-color);
    padding:0.8rem;
    margin:0.8rem;
    
}

footer div {
    background: var(--yellow);
    padding: 10px; 
    margin: 10px;
    width: 100%;
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) and (max-width: 1024px) {

    body {
        width:100%;
    }
    
    header {
        background-image: url("./images/header_tablet.jpg");
    }
   

    #header-logo {
        width: 2rem; 
    }
    

    .header-top {
        display:flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: space-around;
        margin-bottom: 4rem;
    }
    


    .header-top div {
        padding: 10px; 
        margin: 10px;
    }    



    main {
        display: flex;
        flex-direction: column;
        justify-items: center;
        background: var(--yellow);
    }

    .main-right, .main-left {

        width: calc(100% - 40px);
    }
    

 }

 @media screen and (min-width: 320px) and (max-width: 480px) {
   
    
    body {
        width:100%;
    }

    .header-top {
        display: flex; 
        flex-direction: column;
        
    }

    #header-logo {
        width: 2rem; 
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .main-left, .main-right {
        width: calc(100% - 40px);
    }

    article {
        display: flex; 
        flex-direction: column;
        
    }
    
    article div {
        width: calc(100% - 40px);
    }

}